.color-custom-light {
    background: #ffffdb;
}

.text-custom-light {
    color: #ffffdb;
}

.brown {
    color: #ffffdb;
    background: #832D16;
}

.dark-brown {
    color: #ffffdb;
    background: #400000;
}

.input-group>input {
    background: #ffffdb;
    border: none;
}

.dropdown-item {
    color: #ffffdb;
}

.bg_screen {
    background: url("../img/papirus-fon-26-4.jpg") repeat;
    /*background: #f8e5c3;*/
}

.header-responsive {
    width: 100%;
    height: auto;
    margin-top: 13px;
}



.card-style {
    /*background: url("../img/papirus-fon-26.jpg") repeat;*/
    background: #e9b975;
}

@font-face {
    font-family: 'ISChess';
      src: url('../fonts/IS-TT-01.eot');
      src: local('☺︎'),
      url("../fonts/IS-TT-01.woff") format("woff");
    url("../fonts/IS-TT-01.otf") format("opentype");
    url("../fonts/IS-TT-01.svg#ISChess") format("svg");
    url("../fonts/IS-TT-01.ttf");
}

@font-face {
    font-family: 'diagramttfritz';
url('http://chesshandbook/fonts/diagramttfritz.ttf')
}

.f1 {
    font-family: 'diagramttfritz', sans-serif;
    font-size: 22px;
}


.f2 {
    font-family: 'ISChess', sans-serif;
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

html,
body {
    height: 100%;
    background: url("../img/papirus-fon-26-7.jpg");
    /*background: url("../img/wenge-wood-texture.jpg");*/
    color: #400000;
}
.opentab {
    margin: auto;
    padding: 0;
    height: auto;
    width: 60%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.nav-link:hover {
    color: #e9b975;
}

.btn-light {
    --bs-btn-color:#000;
    --bs-btn-bg:#ffffdb;
    --bs-btn-border-color:#ffffdb;
    --bs-btn-hover-color:#000;
    --bs-btn-hover-bg:#d3d4d5;
    --bs-btn-hover-border-color:#c6c7c8;
    --bs-btn-focus-shadow-rgb:211,212,213;
    --bs-btn-active-color:#000;
    --bs-btn-active-bg:#c6c7c8;
    --bs-btn-active-border-color:#babbbc;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#000;
    --bs-btn-disabled-bg:#ffffdb;
    --bs-btn-disabled-border-color:#ffffdb;
}

.btn-outline-light {
    --bs-btn-color:#ffffdb;
    --bs-btn-border-color:#ffffdb;
    --bs-btn-hover-color:#400000;
    --bs-btn-hover-bg:#ffffdb;
    --bs-btn-hover-border-color:#ffffdb;
    --bs-btn-focus-shadow-rgb:248,249,250;
    --bs-btn-active-color:#400000;
    --bs-btn-active-bg:#ffffdb;
    --bs-btn-active-border-color:#ffffdb;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(64, 0, 0, 0.125);
    --bs-btn-disabled-color:#ffffdb;
    --bs-btn-disabled-bg:transparent;
    --bs-btn-disabled-border-color:#ffffdb;
    --bs-gradient:none}
