.color-custom-light {
    background: #ffffdb;
}

.text-custom-light {
    color: #ffffdb;
}

.brown {
    color: #ffffdb;
    background: #832D16;
}

.dark-brown {
    background: #400000;
}

.bg_screen {
    background: url("../img/papirus-fon-26-4.jpg") repeat;
}

.header-responsive {
    width: 100%;
    height: auto;
    margin-top: 13px;
}

.card-style {
    /*background: url("../img/krasivo-40.jpg") repeat;*/
    background: #e9b975;
}

@font-face {
    font-family: 'ISChess';
      src: url('../fonts/IS-TT-01.eot');
      src: local('☺︎'),
      url("../fonts/IS-TT-01.woff") format("woff");
    url("../fonts/IS-TT-01.otf") format("opentype");
    url("../fonts/IS-TT-01.svg#ISChess") format("svg");
    url("../fonts/IS-TT-01.ttf");
}

@font-face {
    font-family: 'diagramttfritz';
url('http://chesshandbook/fonts/diagramttfritz.ttf')
}

.f1 {
    font-family: 'diagramttfritz', sans-serif;
    font-size: 22px;
}


.f2 {
    font-family: 'ISChess', sans-serif;
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

html,
body {
    height: 100%;
    background: url("../img/wenge-wood-texture.jpg");
}
.opentab {
    margin: auto;
    padding: 0;
    height: auto;
    width: 60%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}
